<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.mapper.UserMapper">

    <select id="selectUserByNamePwd" parameterType="user" resultType="user">
        select username,password  from tb_user
        where username = #{username} and password = #{passowrd}
    </select>
    <select id="selectUserById" parameterType="int" resultType="user">
        select username,password  from tb_user
        where id = #{id}
    </select>



</mapper>